div{ font-size: small; font-family:Arial, Helvetica, sans-serif ;}
.I {color: blue;}
.D1 {color: crimson;}
.D2 {color: darkorchid;}
.C {color: darkgreen;}
#text {font-weight: 250;border: double;border-radius:30px ;}
h4,h1{text-align: center;}
h1{font-size: 30px; color: gray;}